{% extends "@partials-layout/basic-layout.twig" %}
{% block basicContent %}
    <div id="securityParentCol">
    <div class="collapse show" id="securityHeaderStart" data-bs-parent="#securityParentCol">
        <div class="card-body">
            <button data-type="load-default-security-header"
                    class="sweet-alert2 btn btn-outline-secondary">
                <i class="bi bi-exclamation-triangle me-1"></i>
                {{ 'Restore default'|__ }}
            </button>
            <button data-bs-toggle="collapse" data-bs-target="#securityHeaderSettings"
                    class="btn btn-outline-primary">
                <i class="bi bi-gear me-1"></i> Standard-Einstellungen
            </button>
        </div>
        {{ include('@partials-loops/security-header-table-loop.twig') }}
    </div>
    <div class="collapse" id="securityHeaderSettings" data-bs-parent="#securityParentCol">
        <button data-bs-toggle="collapse" data-bs-target="#securityHeaderStart"
                class="btn btn-primary ms-1 mb-3">
            <i class="bi bi-reply-all-fill me-1"></i> zurück
        </button>
        <div class="border rounded shadow-sm p-3 bg-custom-gray mb-3">
            <form method="post" class="save_system_settings">
                <div class="row pt-3 g-2">
                    <input type="hidden" name="method" value="security_header_settings">
                    <div class="col-12">
                        <h6><i class="bi bi-gear me-1"></i>Einstellungen für Standardwerte</h6>
                        <div class=" row g-2 mt-2">
                            <div class="col-xl-6 col-12">
                                <div class="card h-100">
                                    <p class="card-header bg-light">{{ 'Google'|__ }}</p>
                                    <div class="card-body d-flex flex-column">
                                        <div>
                                            <div class="form-check form-check-inline">
                                                <input class="form-check-input no-blur" type="checkbox"
                                                       name="google_fonts"
                                                       id="checkGoogleFonts" {% if ds.google_fonts %}checked{% endif %}>
                                                <label class="form-check-label" for="checkGoogleFonts">
                                                    {{ 'Google Fonts'|__ }} {{ 'active'|__ }}
                                                </label>
                                            </div>
                                            <div class="form-check form-check-inline">
                                                <input class="form-check-input no-blur" type="checkbox"
                                                       name="google_apis"
                                                       id="checkGoogleApis" {% if ds.google_apis %}checked{% endif %}>
                                                <label class="form-check-label" for="checkGoogleApis">
                                                    {{ 'Google Apis'|__ }} {{ 'active'|__ }}
                                                </label>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-xl-6 col-12">
                                <div class="card h-100">
                                    <p class="card-header bg-light">{{ 'Adobe Fonts'|__ }}</p>
                                    <div class="card-body d-flex flex-column">
                                        <div class="form-check form-check-inline">
                                            <input class="form-check-input no-blur" type="checkbox" name="adobe_fonts"
                                                   id="checkAdobeFonts" {% if ds.adobe_fonts %}checked{% endif %}>
                                            <label class="form-check-label mt-1" for="checkAdobeFonts">
                                                {{ 'Adobe Fonts'|__ }} {{ 'active'|__ }}
                                            </label>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="form-text">
                            Beim erneuten Laden der Standardwerte werden die Einstellungen berücksichtigt.
                        </div>
                        <hr>
                        <div class="form-check form-check-inline">
                            <input class="form-check-input no-blur" type="checkbox" name="csp_aktiv"
                                   id="checkCSPAktiv" {% if ds.csp_aktiv %}checked{% endif %}>
                            <label class="form-check-label mt-1" for="checkCSPAktiv">
                                {{ 'CSP'|__ }}  {{ 'Settings'|__ }} {{ 'active'|__ }}
                            </label>
                        </div>
                    </div>
                </div>
                <hr>
                <button type="submit" class="btn btn-blue">
                    <i class="bi bi-save2 me-1"></i>
                    {{ 'Save'|__ }}
                </button>
            </form>
            <hr>
        </div>


    </div>
    </div>{# Parent #}
{% endblock %}
